<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MoE Inventory Checker</title>

    <style type="text/css">
      body {
        font-size: 12px;
        margin-bottom: 5em;
      }

      th {
        font-weight: normal;
        background-color: rgba(217, 217, 221, 1.0);
        padding: 2px;
        min-width: 2.5em;
        white-space: nowrap;
        position: sticky;
        top: 0;
        z-index: 1;
      }

      th:first-of-type,
      th:last-of-type {
        min-width: 7em;
        width: 7em;
      }

      th abbr {
        display: block;
      }

      .ex {
        color: rgba(0, 0, 30, .5);
      }

      tbody tr:nth-child(2n) {
        background-color: rgba(127, 127, 64, .1);
      }

      tbody tr:nth-child(2n+1) {
        background-color: rgba(64, 127, 127, .1);
      }

      tbody tr td:first-of-type {
        background-color: rgba(127, 127, 127, .15);
      }

      tbody tr td:last-of-type {
        white-space: pre;
      }

      tbody td {
        text-align: center;
        padding: 2px;
        min-width: 2.5em;
        height: 2.5em;
      }
    </style>
  </head>
  <body>
    <h1>MoE Inventory Checker</h1>

    <% for (const server of data) { %>
      <h2><%= server.name %></h2>

      <table>
        <thead>
          <tr>
            <th>name</th>
            <% for (const q of quests) { %>
              <th><abbr title="<%= q.key %>"><%= q.shortName %></abbr><span class="ex">+<%= q.ex %></span></th>
            <% } %>
            <th>updated</th>
          </tr>
        </thead>

        <tbody>
        <% for (const chara of server.charaList) { %>
          <tr>
          <% for (const c of chara) { %>
            <td><%= c %></td>
          <% } %>
          </tr>
        <% } %>
        </tbody>
      </table>
    <% } %>
  </body>
</html>
